<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container">
                    {% if app.user %}
                        <div class="navbar-brand d-flex align-items-center">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a> / <a href="{{ path('app_modify_profile') }}">My profile</a>
                        </div>
                    {% else %}
                        <div class="navbar-brand d-flex align-items-center">
                            <a href="{{ path('app_register') }}">Register</a> - For post new articles, <a href="{{ path('app_login') }}">Login</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </header>
        <main>
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">Products</h1>
                        <p class="lead text-muted">
                            <a href="{{ path('create_product') }}">
                                <strong>Create a product</strong>
                            </a>
                        </p>
                    </div>
                </div>
            </section>

            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
