{% extends 'base.html.twig' %}

{% block title %}Modify product{% endblock %}

{% block body %}

    <div class="mb-3">
        <a href="{{ path('product') }}">< Back</a>
    </div>

    <main class="form-modify">
        {{ form_start(modifyFormProduct) }}
            {{ form_row(modifyFormProduct.title) }}
            {{ form_row(modifyFormProduct.description, {
                label: 'Description'
            }) }}
            {{ form_row(modifyFormProduct.price) }}
            {{ form_row(modifyFormProduct.city) }}
            {{ form_row(modifyFormProduct.pictures) }}
            <button class="w-100 btn btn-lg btn-primary" type="submit">Modify</button>
        {{ form_end(modifyFormProduct) }}
    </main>
{% endblock %}
